html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 62.5%;
  font-size: 1rem;
  margin: 0%;
  box-sizing: border-box;
  padding: 0%; }

body {
  color: #333;
  font-size: 62.5%;
  font-size: 1rem; }

footer {
  background-color: #3f2ff7;
  display: inline-block;
  position: fixed;
  bottom: 0%;
  right: 0%;
  left: 0%;
  text-align: center;
  color: white;
  height: 1.3rem; }

footer p {
  margin: initial; }

.header {
  background-color: #3f2ff7;
  color: white;
  text-decoration: none;
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%; }

.header a {
  color: white;
  text-decoration: none; }

.conteinerLogoNav {
  width: 85%;
  max-width: 850px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.logo {
  height: 100px;
  width: 100px;
  transition: 0.3s linear;
  border-radius: 5px; }

.logo:hover {
  background-color: #0d00a3; }

.nav ul {
  margin: 0%;
  padding: 0%;
  list-style: none;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%; }

.nav ul li a {
  display: block;
  padding: 0.9rem 0.5rem;
  transition: 0.4s linear;
  border-radius: 5px;
  text-align: center; }

.nav ul li a:hover {
  background-color: #0d00a3; }

@media (min-width: 200px) {
  .header {
    grid-column: 1 / span 3; }
  .conteinerLogoNav {
    width: 0%;
    max-width: 0px;
    height: 0%; } }

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100; }

.float:hover {
  text-decoration: none;
  color: #25d366;
  background-color: #fff; }

.my-float {
  margin-top: 16px; }

.form {
  height: 25rem;
  width: 250px;
  padding: 30px;
  display: grid;
  position: relative;
  left: 32rem;
  bottom: 0rem;
  top: 7rem;
  margin: 0rem 0rem 5rem 0rem;
  background-color: #3f2ff7;
  color: white; }

input {
  display: inline-block;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid #949090;
  margin-bottom: 1rem;
  background-color: #0d00a3;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white; }

section h4 {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: grid; }

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 62.5%;
  font-size: 1rem;
  margin: 0%;
  box-sizing: border-box;
  padding: 0%; }

body {
  color: #333;
  font-size: 62.5%;
  font-size: 1rem; }

.conteiner {
  padding: 100px 200px;
  background-color: white;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  position: initial;
  top: 20%;
  left: 20%; }

.item {
  background-color: white;
  text-decoration: none;
  margin-right: 0rem;
  margin-left: 0rem;
  padding: 1rem;
  text-align: center; }

.item:hover {
  border: 0.5px solid black;
  border-width: 3px; }

.where {
  color: #0047ab;
  font-size: 1.2rem;
  display: block;
  margin-top: 8rem;
  margin-left: 15rem;
  float: left; }

.map {
  display: block;
  margin-right: 20rem;
  margin-left: 15rem;
  float: right; }

.form {
  height: 25rem;
  width: 250px;
  padding: 30px;
  display: grid;
  position: relative;
  left: 32rem;
  bottom: 0rem;
  top: 7rem;
  margin: 0rem 0rem 5rem 0rem;
  background-color: #3f2ff7;
  color: white; }

input {
  display: inline-block;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid #949090;
  margin-bottom: 1rem;
  background-color: #0d00a3;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white; }

section h4 {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: grid; }

@media (min-width: 768px) {
  .header {
    flex-direction: row;
    font-size: 20px; } }

.conteiner {
  padding: 100px 200px;
  background-color: white;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  position: initial;
  top: 20%;
  left: 20%; }

.item {
  background-color: white;
  text-decoration: none;
  margin-right: 0rem;
  margin-left: 0rem;
  padding: 1rem;
  text-align: center; }

.item:hover {
  border: 0.5px solid black;
  border-width: 3px; }

.where {
  color: #0047ab;
  font-size: 1.2rem;
  display: block;
  margin-top: 8rem;
  margin-left: 15rem;
  float: left; }

.map {
  display: block;
  margin-right: 20rem;
  margin-left: 15rem;
  float: right; }
